/* Place global styles here */
/* bring in normalize.css styles */
@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
  --background-color: #293462;
  --primary-color: #216583;
  --secondary-color: #00818a;
  --secondary-color2: #f7be16;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

html {
  height: 100vh;
}

.phone_icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.TextChatComponent {
  width: 400px;
  height: 90vh;
  position: fixed;
  left: 250px;
}

.MessageList {
  overflow: hidden;
  height: 90%;
  overflow-y: auto;
}

.MessageList .MuiListItem-root {
  border-radius: 4px;
  margin-top: 5px;
  width: max-content;
}

.TextChatInput {
  width: 100%;
}

.TextChatInput .MuiInput-root {
  width: inherit;
}
