/* Place global styles here */
/* bring in normalize.css styles */
@import-normalize;
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root {
  --background-color: #293462;
  --primary-color: #216583;
  --secondary-color: #00818a;
  --secondary-color2: #f7be16;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

html {
  height: 100vh;
}

.phone_icon {
  display: inline-block;
  width: 50px;
  height: 50px;
}


.TextChatComponent {
  background: #254D73;
  padding: 5px;
  margin: 8px 0px 8px 0px;
  border-radius: 5px;
  width: 400px;
}

.TextChatInput {
  position: absolute;
  bottom: 15px;
}

.MessageList {

}

.MessageList .Message {
  background: white;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  clear: both;
  margin-bottom: 8px;
  width: max-content;
}
