/* Place global styles here */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  --background-color: #293462;
  --primary-color: #216583;
  --secondary-color: #00818a;
  --secondary-color2: #f7be16;

  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}
